<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="20px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
      <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
            </mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{dish.image}} alt="{{dish.name}}">
    
          <mat-card-content>
              <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="goBack()">BACK</button>
              <button mat-button>Like</button>
              <button mat-button>Share</button>
              
            </mat-card-actions>
        </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <mat-list>
      <mat-list-item rowHeight="40px" *ngFor ="let d of dish.comments">
         <h1 matLine> {{d.comment }} </h1>
         <h1 matLine> {{d.rating + ' Stars'}}</h1>
         <h1 matLine> {{"-- " + d.author + " "}}{{d.date | date}} </h1>
        
      </mat-list-item>
    </mat-list>
  </div>

</div>